
/**Cat add on*************************************************** **/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);

#world{
	position: absolute;
	width:100%;
	height: 100%;
  Background-image: url("https://raw.githubusercontent.com/HaftamuM/Image/main/cat1.jpg");
  overflow:hidden;
}

#credits{
  position:absolute;
  width:100%;
  margin: auto;
  bottom:0;
  margin-bottom:20px;
  font-family:'Open Sans', sans-serif;
  color:#328685;
  font-size:0.7em;
  text-transform: uppercase;
  text-align : center;
}
#credits a {
  color:#328685;
}

#credits a:hover {
  color:#080808;
}

/* This class is added on scroll */
* {margin: 0; padding: 0;}

a {text-decoration: none;}

.fixed {
	position: fixed;
	top: 0;
	height: 70px;
	z-index: 1;
}
.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
/**
h1 {
  margin-bottom: 20px;
  font-family: Courier New;
  font-size: 30px;
  text-transform: uppercase;
  color: #424242;
 }New code **/
h2 {
  margin-bottom: 25px;
  font-family: Courier New;
  font-size: 30px;
  text-transform: uppercase;
  color: #000000;
 }
 h3 {
  margin-bottom: 1x;
  font-family: Oswald;
  font-size: 50px;
  text-transform: uppercase;
  color: #000000;
 }

/** New Code **/

.center {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 30px;
}
.container{
  width: 100%;
  margin: auto;
}

.wrapper1, .wrapper2, .wrapper3, .wrapper4, .wrapper5{
  float: left;
  width: 100%;
  position: relative;
}

.wrapper3 {
  overflow: hidden;
}

.wrapper1 {
  background-color: #74dddb;

  position: relative;
  right: 33.333%;
}

.wrapper2 {
  
  position: relative;
  right: 33.333%;
}

.wrapper3 {

  background-color: #74dddb;
}
.wrapper4 {
  
  Background-image: url("https://raw.githubusercontent.com/HaftamuM/Image/main/a27fa4a1458efd1b4a6d91c89ced32df--cat-paw-tattoos-paw-prints.jpg");

}
.wrapper5 {
	
  Background-image: url("https://raw.githubusercontent.com/HaftamuM/Image1/main/paper-flower-background-g554fe1d68_1920.jpg");
}

.col1, .col2, .col3 {

  float: left;
  width: 27.3%;

  padding: 3%;
  position: relative;
  left: 66.6%;
}
/** New Added **/

body {
  background: #e2e1e0;
  text-align: center;
}
.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  height: 400px;
  margin: 1rem;
  position: static;
  width: 300px;
}
.card-1:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-2:hover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.card-3:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/** Add on  **/

body {
  font-family: "Century Gothic", "Lato", sans-serif;
}

.et-hero-tabs,
.et-slide {

  display: flex;
  flex-direction: column;
  justify-content:  flex-start;
 /** align-items: center;**/
  height: 100vh;
  position: relative;
  background: #eee;
  text-align: center;
   /** padding: 0 2em;

  border-radius: 2px;
  display: ;
  height: 400px;
  margin: 1rem;
  position: static;
  width: 300px;**/
}
.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}
.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}


.et-hero-tabs-container {

  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #fff;
  z-index: 10;
}
.et-hero-tabs-container--top {
  position: fixed;
  top: 0;
}

.et-hero-tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.et-hero-tab:hover {
  color: white;
  background: rgba(102, 177, 241, 0.8);
  transition: all 0.5s ease;
}



@media (min-width: 800px) {
  .et-hero-tabs h1,
.et-slide h1 {
    font-size: 3rem;
  }
  .et-hero-tabs h3,
.et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab {
    font-size: 1rem;
  }
}



/***/
.container
{
  max-width: 100px;
  margin: 100px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card
{
  position: relative;
  margin: 20px 0;
  width: 300px;
  height: 30px; /**what i changed**/
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 20px rgba(0,0,0,.5);
  transition: 1s;
}
.card:hover
{
  z-index: 10000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card .Box
{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  z-index: 1;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
  background: #111;
}
.card .Box img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:hover .Box
{
  transform: rotateY(-135deg);
}
.card .details
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /** delete and added the right 0**/
  padding: 20px;
  z-index: -1;
}
/** added footer **/
/*
    Auther: Abdelrhman Said
*/
.container3
{
  max-width: 1000px;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom: 100px;
}
.card1
{
  position: relative;
  margin: 5px 0;
  width: 300px;
  height: 400px; /**what i changed**/
  background: #fff;
  transform-style: preserve-3d;
  transform: perspective(2000px);
  box-shadow: inset 300px 0 50px rgba(0,0,0,.5), 0 20px 20px rgba(0,0,0,.5);
  transition: 1s;
  
}
.card1:hover
{
  z-index: 10000;
  transform: perspective(2000px) rotate(-10deg);
  box-shadow: inset 20px 0 50px rgba(0,0,0,.5), 0 10px 100px rgba(0,0,0,.5);
}

.card1 .Box
{
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid #000;
  box-sizing: border-box;
  position: relative;
  transform-origin: left;
  z-index: 1;
  transition: 1s cubic-bezier(.15,1.7,.84,.58);
  background: #111;
}
.card1 .Box img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card1:hover .Box
{
  transform: rotateY(-135deg);
}
.card1 .details
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  /** delete and added the right 0**/
  padding: 20px;
  z-index: -1;
}
/**/

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/**
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
**/
*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

html {
  display: grid;
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
  place-items: end center;
  background: linear-gradient(315deg, #ffffff, #d7e1ec);
  
}

.wrapper0 {
  display: inline-flex;
  list-style: none;
}

.wrapper0 .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper0 .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper0 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper0 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper0 .icon:hover span,
.wrapper0 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper0 .facebook:hover,
.wrapper0 .facebook:hover .tooltip,
.wrapper0 .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper0 .twitter:hover,
.wrapper0 .twitter:hover .tooltip,
.wrapper0 .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper0 .instagram:hover,
.wrapper0 .instagram:hover .tooltip,
.wrapper0 .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper0 .github:hover,
.wrapper0 .github:hover .tooltip,
.wrapper0 .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper0 .youtube:hover,
.wrapper0 .youtube:hover .tooltip,
.wrapper0 .youtube:hover .tooltip::before {
  background: #1f8acd;
  color: #ffffff;
}
/** video **/


a {
  display: inline-block;
  margin-bottom: 20px;
  color: #000;
  font-family: Arial, sans-serif;
}
/****/


details {
  width: 50%;
  min-height: 3px;
  max-width: 1200px;
  padding: 45px 70px 45px 45px;
  margin: 0 auto;
  position: relative;
  font-size: 15px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 15px;
  box-sizing: border-box;
  transition: all .3s;
}

details + details {
  margin-top: 20px;
}

details[open] {
  min-height: 50px;
  background-color: #f6f7f8;
  box-shadow: 2px 2px 20px rgba(0,0,0,.2);
}

details p {
  color: #96999d;
  font-weight: 300;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  cursor: pointer;
}

summary:focus {
  outline: none;
  
}

summary:focus::after {
  content: "";
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 5px rebeccapurple;
}

summary::-webkit-details-marker {
  display: none
}

.control-icon {
  fill: rebeccapurple;
  transition: .3s ease;
  pointer-events: none;
}

.control-icon-close {
  display: none;
}

details[open] .control-icon-close {
  display: initial;
  transition: .3s ease;
}

details[open] .control-icon-expand {
  display: none;
}
ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}
/** Add on **/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
  
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

